{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} Grumpy - Dashboard {% endblock %}


{% block title_page %}Dashboard{% endblock %}


{% bootstrap_css %}
{% block import_css %}
<!-- Custom styles for this page -->
<link href="../../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

{% endblock %}

{% block dashboard_active %}active{% endblock %}


{% block content %}

{% if messages %}
<ul class="messages" style ="list-style-type: none; margin-left: -35px; ">
    {% for message in messages %}
    <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}



{% endblock %}

{% block import_script %}
<!--IMPORT SCRIPTS -->

{% bootstrap_javascript jquery="full" %}
<!-- Page level plugins -->
<script src="../../static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../../static/js/demo/datatables-demo.js"></script>


<script src="../../static/js/script.js"></script>


{% endblock %}
