{% extends 'base.html' %}

{% block title %} Grumpy {% endblock %}


{% block title_page %}Issues{% endblock %}


{% block import_css %}
<!-- Custom styles for this page -->
<link href="../../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}

{% block issues_active %}active{% endblock %}

{% block content %}

<div class="row">

    <div class="col-lg-6">

        <h3>
            <span class="js-issue-title m-0 font-weight-bold text-primary">
                Make DefaultParallelExecutionConfiguration public
            </span>
            <span class="f1-light text-gray-light">#2461</span>
        </h3>
        <a href="#" class="btn btn-success ">
                    <span class="icon text-white-50">
                      <i class="fas fa-fw fa-exclamation-circle"></i>
                    </span>
            <span class="text">Open</span>
        </a>

        <span> Issue created by </span>
        <span><b>Railana</b></span>
        <span>on </span>
        <span>21/11/2020</span> ·
        <span>3</span>
        <span>comment(s)</span>

        <br>
        <br>
        <hr>

        <!-- Default Card Example -->
        <div class="card mb-4">
            <div class="card-header">
                Railana comentou em 21/11/2020
            </div>
            <div class="card-body">
                This card uses Bootstrap's default styling with no utility classes added. Global styles are the only things modifying the look and feel of this default card example.
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-1">
                        0 <span>&#128077;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128078;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128516;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#127881;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128533;</span>
                    </div>

                    <div class="col-1">
                        0 <span>&#129505;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128640;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128064;</span>
                    </div>
                </div>
            </div>
        </div>


        <!-- Default Card Example -->
        <div class="card mb-4">
            <div class="card-header">
                Alice comentou em 21/11/2020
            </div>
            <div class="card-body">
                This card uses Bootstrap's default styling with no utility classes added. Global styles are the only things modifying the look and feel of this default card example.
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-1">
                        0 <span>&#128077;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128078;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128516;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#127881;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128533;</span>
                    </div>

                    <div class="col-1">
                        0 <span>&#129505;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128640;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128064;</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Default Card Example -->
        <div class="card mb-4">
            <div class="card-header">
                Joselito comentou em 21/11/2020
            </div>
            <div class="card-body">
                This card uses Bootstrap's default styling with no utility classes added. Global styles are the only things modifying the look and feel of this default card example.
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-1">
                        0 <span>&#128077;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128078;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128516;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#127881;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128533;</span>
                    </div>

                    <div class="col-1">
                        0 <span>&#129505;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128640;</span>
                    </div>
                    <div class="col-1">
                        0 <span>&#128064;</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}


{% block import_script %}
<!--IMPORT SCRIPTS -->

<!-- Page level plugins -->
<script src="../../static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="../../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="../../static/js/demo/datatables-demo.js"></script>


<script src="../../static/js/script.js"></script>

{% endblock %}