{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Progress</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h1 class="m-0 font-weight-bold text-primary"> Task progress </h1>
        </div>
         <div class="form-key row">
            <div class="container">
                    <div class="col-sm-6">
                        <label> Miner Name: {{ minerName }} </label>
                        <br>
                        <label> Token Name: {{ tokenAssociated }}</label>
                        <br>
                        <div class='progress-wrapper'>
                            <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
                        </div>
                        <div id="progress-bar-message">Waiting for progress to start...</div>

                        <script>
                            document.addEventListener("DOMContentLoaded", function () {
                            var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
                                CeleryProgressBar.initProgressBar(progressUrl);
                            });
                        </script>
                    </div>
                    <div class="col-sm-3">
                            <a class="btn btn-secondary" href="{% url 'miners' %}" role="button">Back</a>
                    </div>
            </div>
         </div>
    </div>

    <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
    {% bootstrap_javascript jquery="full" %}

</body>

</html>